/* General Style*/
*,*::before,*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

input {
    width: 150px;
    height: 100px;
    font-size: 75px;
    border-radius: 10px;
    margin: 10px;
    background-color: #000;
    color: #fff;
    border-style: none;
}

input:nth-child(1){
    width: 675px;
    height: 100px;
    text-align: center;
    background-color: #1f80c9;
}
input:nth-child(6){
    background: #cc5c11;
}
input:nth-child(11){
    background-color: #ba55d3;
}
input:nth-child(16){
    background-color: #7db1b2;
}
input:nth-child(19){
    background-color: #cc0000;
}
input:nth-child(21){
    background-color: green;
}


h1{
    text-align: center;
    font-size: 80px;
    margin-top: 20px;
}
main{
    display: block;
}
section{
   width: 700px;
   margin-left: auto;
    margin-right: auto;

}